@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background: #fff;
}
.container {
  outline: 2px #000 solid;
  width: 500px;
  height: 500px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px #414141;
}
.text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  letter-spacing: 5px;
  font-size: 30px;
  margin-top: 50px;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
  margin-top: -20px;
  text-transform: uppercase;
}
.background {
  position: relative;
  background: #b1b9af;
  width: 100%;
  height: 51%;
  bottom: -124.5px;
}
.img2 {
  z-index: 1;
  position: relative;
  bottom: 390px;
  width: 100%;
}
nav {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
button {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 3px 3px #414141;
}
button:hover {
  transform: scale(0.96);
}
button:nth-child(1) {
  background: #00ff00;
}
button:nth-child(1):hover {
  background: #00d000;
}
button:nth-child(2) {
  background: #00ffdd;
}
button:nth-child(2):hover {
  background: #00d0b4;
}
button:nth-child(3) {
  background: #7d00dd;
}
button:nth-child(3):hover {
  background: #520091;
}
button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
